@import "tailwindcss";

body {
  background-color: var(--color-glass-bg);
  color: var(--color-glass-text);
  
  background-image: radial-gradient(#20184a 5%, transparent 5%), radial-gradient(#20184a 5%, transparent 5%);
  background-size: 8px 8px;
  background-position: 0 0, 4px 4px;
}
.blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}